body, p{
	font-family: Arial;
	font-size: 12px;
}
h1 {
	font-family: Arial;
	font-size: 26px;
}

svg {
	font-family: "Arial", Arial;
}

.extent {
  fill: gray;
  opacity: 0.3;
}

/*.selectFilters {
  float: left;
}*/

#selectionboxes {
  /*position: absolute;*/
  width: auto;
  height: auto;
  /*padding-bottom: 10px;*/
  /*left: 340px;
  top: 140px;*/
  /*TODO need to fill in position here*/
}

.g-graphic {
  float: left;
  /*position: absolute;
  width: auto;
  height: auto;
  left: 800px;
  top: 100px;*/
  /*TODO need to fill in position here*/
}

#map {
  float: left;
  /*position: absolute;
  width: auto;
  height: auto;
  left: 800px;
  top: 100px;*/
  /*TODO need to fill in position here*/
}

#barplot {
  float: left;
  /*position: absolute;
  width: auto;
  height: auto;
  left: 800px;
  top: 100px;*/
  /*TODO need to fill in position here*/
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orangered ;
}


.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.NYT5Style .masthead-tools #bar1-twopanel  {
    display: inline;
    vertical-align: top;
}
#bar1-twopanel {
  border:none;
  position: relative;
}
.bar1_hover {
    opacity: 0;
}
.sub_small_hide{
    display: none;
}
#bar1-twopanel > a {
    -moz-box-sizing: border-box;
    background-color: #6288A5;
    border: 1px solid #4D7B9F;
    border-radius: 3px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    font-family: nyt-franklin,nyt-franklin-1,'Helvetica Neue',Arial,sans-serif;
    padding: 7px 10px 6px;
    text-transform: uppercase;
    text-decoration: none;
}
#bar1-twopanel > a:hover {
    background-color: #326891;
    border: 1px solid #265E8B;
    text-decoration: none;
}
#hovercard {
    width:451px;
    display:none;
    z-index: 2147483647;
    background-color:#fff;
    height:376px;
    border:1px solid #ccc;
    position:absolute;
    left: 50%;
    margin-left: -290px;
    top: 30px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    white-space:normal;
    text-align:left;
}
#hovercard:before {
    content:url(http://graphics8.nytimes.com/marketing/bar1jsimages/arrowup.png);
    position:absolute;
    left: 227px;
    top: -16px;
    width: 125px;
    height: 18px;
    display:block;
    z-index: 1;
    text-align: center;
}
h2#bar1-title,
.NYT5Style #masthead h2#bar1-title {
  text-align: center;
  font-family: nyt-franklin, nyt-franklin-1, "Helvetica Neue", arial, sans-serif;
  font-style: normal;
  margin: 15px 0 5px;
  font-size: 24px !important;
  color: #000;
}
h3.hover-title,
.NYT5Style h3.hover-title {
    font-size: 16px;
    font-weight:700;
    line-height: 20px;
    font-family: 'nyt-franklin','Helvetica Neue',Arial,sans-serif;
    color:#000;
    width: 190px;
    font-style: normal;
}

.split-dig {
    width:224px;
    border-right:1px solid #F1F1F1;
    margin:0;
    padding:0px;
    min-height: 330px;
    background:#fff url('http://graphics8.nytimes.com/adx/images/ADS/40/02/ad.400209/devices_tri_201401_v2.png') center 34px no-repeat;
    float:left;
    position: relative;
}
#hovercard h3 a,
#hovercard p a {
    color: #000 !important;
    text-decoration: none !important;
    display: block;
}
.split-dig-content {
    padding:145px 0 0 17px;
}
.split-dig:hover {
  background-color: #F2F6F9;
}
.split-ada {
    width:225px;
    margin:0;
    padding: 0;
    min-height:330px;
    background:#fff url('http://graphics8.nytimes.com/adx/images/ADS/40/02/ad.400209/devices_paper_201401_v2.png') center 34px no-repeat;
    float:right;
    position: relative;
}
.split-ada-content {
    padding:145px 0 0 15px;
}

.split-dig:hover,
.split-ada:hover {
  background-color:#F2F6F9;
}

.hover-subhead {
    font-family: 'nyt-franklin', 'Helvetica Neue', Arial,sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    margin-top: 14px;
    width: 185px;
}
.split-ada-content .hover-subhead {
    width: 200px;
}
a.nyt-button-actions {
    background: #F7F7F5;
    color:#6E6E6C;
    width:188px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;  
    border:1px solid #ccc !important;
    text-transform: uppercase;
    font:11px "nyt-franklin","Helvetica Neue", Arial, sans-serif;
    text-align: center;
    padding:6px 0;
    cursor: pointer;
    display: block;
    position: absolute;
    bottom:15px;
}
a.nyt-button-actions:hover {
    background:#3C6791; 
    color:#fff;
    text-decoration: none !important;
}
a.nyt-button-actions.highlightButton:link,
a.nyt-button-actions.highlightButton:visited {
        color:#fff  !important;
        background:#3C6791; 
        text-decoration: none !important;
}
.NYT5Style #hovercard {
        top: 18px;
}
/* WEBKIT ONLY RULES */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .NYT5Style #hovercard,
  #hovercard {
    top: 35px !important;
  }
    /*#masthead #hovercard {
        margin-left: -359px !important;
    }*/
}
/* EXCLUDING NYT4 INTERACTIVES */
/*
#interactiveABC #bar1-twopanel {
   display: none;
}
.bar1_header {
background-image:none !important;*/
